#search-button{
  position: relative;
}


.pagination ,.paginationc > a{
    justify-content: center;

}
#search-input{
  width: 100%;
}

/*
.container{
    margin-left: 0;
}
.btn-search {
    background: #424242;
    border-radius: 0;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #1c1c1c;
  }
  .btn-search:link, .btn-search:visited {
    color: #fff;
  }
  .btn-search:active, .btn-search:hover {
    background: #1c1c1c;
    color: #fff;
  }

.edit-btn{
  justify-content: center;
}
.std-list>h1{
  font-size: 2rem;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}


.btn btn-success{
  width: 5px;
 
}


@media all and (max-width: 500px) {
  .table-responsive{
    width: 415px;
  }
} */