<!DOCTYPE html>
<html lang="en">

<head>
    <!-- {% load bootstrap5 %}

  {% bootstrap_css %} -->

    {% load static %}
    <meta charset="UTF-8">
    {% if title%}
    <title>{{ title }}</title>
    {% else%}
    <title>MMS</title>
    {%endif%}
    <link rel="stylesheet" type="text/css" href="{% static  'fontawesome/css/all.min.css' %}" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/base1.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

</head>

<body>
    <header id="header" class="header d-flex align-items-center">

        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
            <a href="index.html" class="logo d-flex align-items-center">
                <img src="{% static 'imgs/logo.jpg' %}" alt="mess logo" style="border-radius:45px">
                <h1>Mess Management<span>.</span></h1>
            </a>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#hero">About</a></li>
                    <li><a href="#gallery">Gallery</a></li>
                    <li><a href="#contact">contact</a></li>
                    {% if user.is_active%}
                    <li>
                        <div class="dropdown ">
                            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="{{current_user.profilepic}}" alt="hugenerd" width="30" height="30" class="rounded-circle">
                                <span class="d-none d-sm-inline mx-1">{{current_user}}</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                                <li><a class="dropdown-item" href="{% url 'change_password' %}">Change password</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="{% url 'u-logout' %}">Sign out</a></li>
                            </ul>
                        </div>
                    </li>
                    {% else %}
                    <li class="dropdown"><a href="#"><span>Student Corner</span> <i
                                class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul>
                            <li><a href="{% url 'u-login' %}">Login</a></li>
                            <li><a href="/signup/signup.html">Sign Up</a></li>
                        </ul>
                    </li>
                    {%endif%}
                </ul>
            </nav><!-- .navbar -->

            <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
            <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

        </div>
    </header>
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero">
        <div class="container position-relative">
            <div class="row gy-5" data-aos="fade-in">
                <div
                    class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
                    <h2>Welcome to <span>Mess Management System</span></h2>
                    <p>Introducing our revolutionary Mess Management System - the ultimate solution for streamlining and
                        enhancing the dining experience in your campus hostel. Say goodbye to the traditional hassles of
                        managing mess operations and embrace a seamless, efficient, and user-friendly platform designed
                        specifically for your needs.</p>
                    <div class="d-flex justify-content-center justify-content-lg-start">
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2">
                    <img src="{% static 'imgs/hero-img.png' %}" class="img-fluid" alt="" data-aos="zoom-out"
                        data-aos-delay="100">
                </div>
            </div>
        </div>
        </div>
        </div>
        </div>

        </div>
    </section>
    <!-- End Hero Section -->
    <main id="main">

        <!-- ======= About Us Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                    <h2>About The Mess</h2>
                    <p> we are passionate about revolutionizing the way hostel messes are managed and enhancing the
                        overall dining experience for students. We understand the challenges and inefficiencies that
                        traditional mess systems often pose, and that's why we have developed a comprehensive and
                        user-friendly platform to address these issues.</p>
                </div>

                <div class="row gy-4">
                    <div class="col-lg-6">
                        <h3>Simplifying Hostel Mess Management with Cutting-Edge Technology</h3>
                        <!-- <img src="assets/img/about.jpg" class="img-fluid rounded-4 mb-4" alt=""> -->
                        <p>Our team of dedicated professionals, with years of experience in both technology and
                            hospitality sectors, has worked tirelessly to create a solution that simplifies and
                            automates every aspect of mess management. We believe that students deserve a hassle-free
                            and enjoyable dining experience during their time at the hostel, and our system is designed
                            to make that a reality.</p>

                    </div>
                    <div class="col-lg-6">
                        <div class="content ps-0 ps-lg-5">
                            <p class="fst-italic">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore
                                magna aliqua.
                            </p>
                            <ul>
                                <li><i class="bi bi-check-circle-fill"></i> Streamline hostel mess operations with our
                                    advanced Mess Management System.</li>
                                <li><i class="bi bi-check-circle-fill"></i> Say goodbye to manual processes and embrace
                                    automation for a more efficient dining experience.</li>
                                <li><i class="bi bi-check-circle-fill"></i> Simplify menu planning, meal booking,
                                    attendance tracking, and feedback management.</li>
                            </ul>
                            <p>
                                Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                reprehenderit in voluptate
                                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident
                            </p>

                            <div class="position-relative mt-4">
                                <img src="#" class="img-fluid rounded-4" alt="">
                                <!-- <a href="#" class="glightbox play-btn"></a> -->
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End About Us Section -->
        <section id="stats-counter" class="stats-counter">
            <div class="container" data-aos="fade-up">

                <div class="row gy-4 align-items-center">

                    <div class="col-lg-6">
                        <img src="{% static 'imgs/stats-img.svg' %}" alt="" class="img-fluid">
                    </div>

                    <div class="col-lg-6">

                        <div class="stats-item d-flex align-items-center">
                            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1"
                                class="purecounter">1000+</span>
                            <p><strong>Students</strong> Students that have taken up the mess.</p>
                        </div><!-- End Stats Item -->

                        <div class="stats-item d-flex align-items-center">
                            <span data-purecounter-start="0" data-purecounter-end="7" data-purecounter-duration="1"
                                class="purecounter">7+</span>
                            <p><strong>Hostels</strong> Number of hostels.</p>
                        </div><!-- End Stats Item -->

                        <div class="stats-item d-flex align-items-center">
                            <span data-purecounter-start="0" data-purecounter-end="474" data-purecounter-duration="1"
                                class="purecounter">24x7</span>
                            <p><strong>Hours Of Support</strong> Any complains about the Mess</p>
                        </div><!-- End Stats Item -->

                    </div>

                </div>

            </div>
        </section><!-- End Stats Counter Section -->
        <section id="gallery" class="gallery">
            <div class="container" data-aos="fade-up">
                <div class="row gy-4 align-items-center justify-content-center">
                    <div class="col-lg-4">
                        <h2>Gallery</h2>
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100" src="https://placehold.co/50" alt="First slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="https://placehold.co/50" alt="Second slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="https://placehold.co/50" alt="Third slide">
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                                data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                                data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                    <h2>Contact</h2>
                    <p>We value your feedback, inquiries, and suggestions. Please feel free to get in touch with us
                        using the contact information provided below. Our dedicated team is here to assist you and
                        ensure that your experience with our Mess Management System is seamless and enjoyable.</p>
                </div>

                <div class="row gx-lg-0 gy-4 justify-content-center">

                    <div class="col-lg-4">

                        <div class="info-container d-flex flex-column align-items-center justify-content-center">
                            <div class="info-item d-flex">
                                <i class="bi bi-geo-alt flex-shrink-0"></i>
                                <div>
                                    <h4>Location:</h4>
                                    <p>{{companyDetails.Address}}</p>
                                </div>
                            </div><!-- End Info Item -->

                            <div class="info-item d-flex">
                                <i class="bi bi-envelope flex-shrink-0"></i>
                                <div>
                                    <h4>Email:</h4>
                                    <p>{{companyDetails.Company_email}}</p>
                                </div>
                            </div><!-- End Info Item -->

                            <div class="info-item d-flex">
                                <i class="bi bi-phone flex-shrink-0"></i>
                                <div>
                                    <h4>Call:</h4>
                                    <p>{{companyDetails.Owner_Phonenum}}</p>
                                </div>
                            </div><!-- End Info Item -->


                        </div>
                    </div>
                    <div class="col-lg-6">
                        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <input type="text" name="name" class="form-control" id="name"
                                        placeholder="Your Name" required>
                                </div>
                                <div class="col-md-3 form-group mt-3 mt-md-0">
                                    <input type="email" class="form-control" name="email" id="email"
                                        placeholder="Your Email" required>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <input type="text" class="form-control" name="subject" id="subject"
                                    placeholder="Subject" required>
                            </div>
                            <div class="form-group mt-3">
                                <textarea class="form-control" name="message" rows="7" placeholder="Message"
                                    required></textarea>
                            </div>
                            <div class="my-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>
                            </div>
                            <div class="text-center"><button type="submit">Send Message</button></div>
                        </form>
                    </div><!-- End Contact Form -->
                </div>



            </div>
        </section><!-- End Contact Section -->

    </main>
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">

        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-5 col-md-12 footer-info">
                    <a href="index.html" class="logo d-flex align-items-center">
                        <span>Mess Management System</span>
                    </a>
                    <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita
                        valies darta donna mare fermentum iaculis eu non diam phasellus.</p>
                    <div class="social-links d-flex mt-4">
                        <a href="https://twitter.com/mohammadmurasif" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="https://facebook.com/mohammad.murasif" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="https://instagram.com/mohammad_murasif"" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="https://linkedin.com/mohammad-murasif"" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>

                <div class="col-lg-2 col-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Employe Login</a></li>
                    </ul>
                </div>


                <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                    <h4>Contact Us</h4>
                    <p>
                        BJRC Hostel <br>
                        Rajori,Bgsbu<br>
                        Jammu and Kashmir <br><br>
                        <strong>Phone:</strong> +214349174<br>
                        <strong>Email:</strong> murasif.cse@bgsbu.ac.in<br>
                    </p>

                </div>

            </div>
        </div>

        <div class="container mt-4">
            <div class="copyright">
                &copy; Copyright <strong><span>Mess Management</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                Designed and Developed by <a href="https://bootstrapmade.com/">Murasif and Team</a>
            </div>
        </div>

    </footer><!-- End Footer -->
    <!-- End Footer -->

    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <div id="preloader"></div>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>