<!DOCTYPE html>
<html lang="en">

<head>
  <!-- {% load bootstrap5 %}

  {% bootstrap_css %} -->

  {% load static %}
  <meta charset="UTF-8">
  {% if title%}
  <title>{{ title }}</title>
  {% else%}
  <title>MMS</title>
  {%endif%}
  <link rel="stylesheet" type="text/css" href="{% static  'fontawesome/css/all.min.css' %}" />
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <!-- Bootstrap CSS -->
  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static  '/fontawesome/css/all.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static  'css/invoice.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static  'css/invoice.css' %}" />

</head>

<body>
  <!-- partial:index.partial.html -->
  <nav id="nav" class="fixed-top">
    <ul class="menu">
      <li class="logo">
        <img src="{% static 'imgs/logo.jpg' %}" alt="img-logo" class="mt-1">
        <a href="#">
          <h3 id="logo-head">MESS MANAGEMENT SYSTEM</h3>
        </a>
      </li>
      <li class="item"><a href="{% url 'dashboard' %}">Home</a></li>
      <li class="item has-submenu">
        {% if user.is_staff%}
        <a tabindex="0" style="color:white">Students</a>
        <ul class="submenu">
          <li class="subitem"><a href="{% url 'addstudent' %}">Add Student</a></li>
          <li class="subitem"><a href="{% url 'view-students' %}">View Students</a></li>
        </ul>
      </li>
      <li class="item has-submenu">
        <a tabindex="0" style="color:white;">Payments</a>
        <ul class="submenu">
          <li class="subitem"><a href="{% url 'payments' %}">View Payements</a></li>
          <li class="subitem"><a href="{% url 'payfee' %}">Make Payment</a></li>
        </ul>
      </li>
      {% endif %}
      <li class="item"><a href="{% url 'menu' %}">Mess Menu</a></li>
      <li class="item"><a href="#">About Us</a></li>
      <li class="item"><a href="#">Contact</a>
      </li>
      {% if user.is_staff%}
      <li class="item button"><a href="{% url 'logout' %}">Log out</a></li>
      {% else %}
      <li class="item button"><a href="{% url 'login' %}">Log In</a></li>
      {%endif%}

      <!-- <li class="item button secondary"><a href="#">Sign Up</a></li> -->
      <li class="toggle"><a href="#"><i class="fas fa-bars"></i></a></li>
    </ul>
  </nav>
    <div class="container-fluid" >
      <div class="row" id="main">

        <!-- <div class="col">         </div> -->
        

        <!-- <div class="col-2">ert</div> -->
      </div>
      <div class="row">
        {%block content%}{%endblock%}
      </div>
    </div>

 <div class="footer">
    <div class="coantainer-fluid pb-2">
      <div class="text-center pt-2" style="background-color:#222; color: white;">
        <section class="mb-0">
          <!-- Linkedin -->
          <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca; border-radius: 100px;" href="#!" role="button"><i
              class="fab fa-linkedin-in"></i></a>
          <!-- Github -->
          <a class="btn btn-primary btn-floating m-1" style="background-color: #333333; border-radius: 100px " href="#!" role="button"><i
              class="fab fa-github"></i></a>
        </section>
        <!-- Section: Social media -->
      </div>


      <p style="color:white">Made with <i class="fa-solid fa-heart" style="color: #ff0000;"></i> by <strong>Murasif</strong></p>
      

      
    </div>
  </div>
  


  <!-- partial -->
  <script src="{% static 'js/base.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>