{% extends "adminportal/base.html" %}
{%block content%}

<div class="col" id="add-std">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media}}
        {% for field in form %}
        <div class="col">
            <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
            <div class="form-group">
                {{ field }}
            </div>
            {% endfor %}
        </div>
        <div class="row justify-content-center">
            <input type="submit" class="btn btn-info btn-lg" value="Create" />
        </div>
    </form>
</div>
</div>
<div class="col-lg-3">
    <div class="row recent-actions">
        <h3>Previous menus
        </h3>
        <ul>
            {% for i in last_menus %}
            <li> <a href="../editmenu/{{i.id}}"><i class="fa-solid fa-pencil fa-1x"></i>{{i.session}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>


</div>



{%endblock%}