
.container-md{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
}
.col-6{
    height: 250px;
    border-radius: 18px;
    flex: 1 0 250px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.total-count{
    text-align: center;
    font-size: 20px;
    font-family:cursive;
}
.cards-head{
    width: 100%;
    max-width: 960px;
    color: white;
    font-size: 15px;
    padding: 8px 15px 8px 15px;
    background-color: #5e17eb;
    text-align: center;
    border-radius: 8px;
}
.col-6 table {
    margin: auto;
}

.col-6 table th{
    color: white;
    background-color: #5e17eb;
    border-radius: 10px;
    padding: 8px 15px 8px 15px;
    text-align: center;
    

}